<!-- HEAD -->
<%- include('./includes/head.ejs')%>
    <body>
        <!-- navbar -->
        <%- include('./includes/navbar.ejs', {staff: staff}) %>
        <div class="container">
            <h1 class="my-5 text-danger">Dữ liệu bạn cần tìm không có!</h1>
        </div>
    </body>

<!-- END -->
<%- include('./includes/end.ejs') %>

</html>